<section class="articles" id="articles">
    <div class="container">
        <div class="walkways">
            <picture>
                <source
                srcset="
                ./img/articles/woodenroad.jpg   1x,
                ./img/articles/woodenroad@2x.jpg   2x">
                <img src="../img/articles/woodenroad.jpg" alt="wooden road">
            </picture>
            <div>
                <h3 class="title articles">The walkways of Indonesia spellbind</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adip iscing elit. Fusce commodo magna et libero mollis rhoncus. </p>
                <button type="button" class="btn articles">Learn More</button>
            </div>
        </div>
        <div class="beaches">
            <picture>
                <source
                srcset="
                ./img/articles/beach.jpg   1x,
                ./img/articles/beach@2x.jpg   2x
                ">
                <img src="../img/articles/beach.jpg" alt="beach">
            </picture>
        </div>
    </div>
</section>