<section class="explore" id="explore">
    <div class="container">
        <div class="explore-our-secrets">
            <h3 class="title explore">Explore Our Secrets</h3>
            <div><p>контейнер для слайдера</p></div>
        </div> 
        <div class="explore-footer">
            <div>
                <h3 class="title by-num">By The Numbers</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo magna et libero.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <ul class="list-numbers">
                <li>
                    <p>100+</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo magna et libero.</p>
                </li>
                <li>
                    <p>43,000+</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo.</p>
                </li>
                <li>
                    <p>30+</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo magna et libero.</p>
                </li>
            </ul>
        </div>
    </div>
</section>