<section class="footer" id="footer">
    <div class="container">
        <div>
            <a id="home" class="logo">
                <svg class="flower" width="21.32" height="42.62">
                    <use href="../img/icons.svg#icon-flower"></use>
                </svg>
            </a>
            <ul>
                <li>explore</li>
                <li>indonesia</li>
            </ul>
        </div>
        
            <ul class="list-social-links">
                <li class="item-social-link"><a href="https://uk-ua.facebook.com/">
                    <svg class="icon-social-link" width="31" height="31">
                        <use href="../img/icons.svg#icon-Facebook">

                        </use></svg>
                </a></li>
                <li class="item-social-link"><a href="https://ua.linkedin.com/">
                    <svg class="icon-social-link" width="31" height="31">
                        <use href="../img/icons.svg#icon-Linkedin">

                        </use></svg>
                </a></li>
                <li class="item-social-link"><a href="https://www.google.com.ua/?hl=uk">
                    <svg class="icon-social-link" width="31" height="31">
                        <use href="../img/icons.svg#icon-Google">

                        </use></svg>
                </a></li>
            </ul>
        <p>Copyright © 2019</p>
    </div>
       
    
</section>