<section class="getting-there" id="getting-there">
    <div class="container">
        <h3 class="title getting-there">Getting there</h3>
        <ul>
            <li>
                <span>1</span>
                <p>Bookings your flights</p>
                <p>Lorem ipsum dolor set</p>
                <a href="">Show more</a>
            </li>
            <li>
                <span>2</span>
                <p>Choosing your hotel</p>
                <p>Lorem ipsum dolor set,,,,</p>
                <a href="">Show more</a>
            </li>
            <li>
                <span>3</span>
                <p>Planning your experiences</p>
                <p>Lorem ipsum dolor set,,,,</p>
                <a href="">Show more</a>
            </li>
        </ul>
    </div>
</section>