<section class="header">
    <div class="container">
        <nav class="navigation">
            <div>
                <a id="home" class="logo">
                    <svg class="flower" width="21.32" height="42.62">
                        <use href="../img/icons.svg#icon-flower"></use>
                    </svg>
                </a>
                <ul>
                    <li>explore</li>
                    <li>indonesia</li>
                </ul>
            </div>
            <ul class="nav-links">
                <li class="nav-link-item"><a href="#destinations">destinations</a></li>
                <li class="nav-link-item"><a href="#expiriencec">expiriencec</a></li>
                <li class="nav-link-item"><a href="#about">about</a></li>
                <li class="nav-link-item"><a href="#gallery">gallery</a></li>
            </ul>
        </nav>
        <div class="search-humburger">
            <ul class="list-icons">
                <li><svg class="search-icon" width="24" height="24">
                    <use href="../img/icons.svg#icon-search"></use>
                </svg></li>
                <li><svg class="humburger-icon" width="24" height="24">
                    <use href="../img/icons.svg#icon-menu"></use>
                </svg></li>
            </ul>
        </div>
    </div>
</section>