<section class="hero" id="hero">
    <div class="container">
        <h1>Explore Indonesia</h1>  
  <button type="button" class="btn travel">Start travelling</button>
  <div>
    <ul class="explore-indonesia-list">
        <li>
        <p>01</p>
        <h3>Title here</h3>
        <p>Lorem ipsum dolor sit amet et amet ist ame.</p>
    </li>
    <li>
        <p>02</p>
        <h3>Title here</h3>
        <p>Lorem ipsum dolor sit amet et amet ist ame.</p>
    </li>
    <li>
        <p>03</p>
        <h3>Title here</h3>
        <p>Lorem ipsum dolor sit amet et amet ist ame.</p>
    </li>
    </ul>
    <div class="video"></div>
  </div>
    </div>
  
</section>