<section class="photo-gallery" id="photo-gallery">
    <div class="container">
        <h3 class="title photo-gallery">Photo Gallery</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dapibus mauris in lectus tempus, eget tincidunt.</p>
        <ul class="list photo-gallery">
            <li>
                <picture>
                    <source
                    srcset="./img/photo-gallery/women.jpg   1x,
                            ./img/photo-gallery/women@2x.jpg   2x">
                    <img src="../img/photo-gallery/women.jpg" alt="women">
                </picture>
            </li>
            <li>
                <picture>
                    <source
                    srcset="
                            ./img/photo-gallery/coast.jpg   1x,
                            ./img/photo-gallery/coast@2x.jpg   2x">
                    <img src="../img/photo-gallery/coast.jpg" alt="coast">
                </picture>
            </li>
            <li>
                <picture>
                    <source
                    srcset="
                    ./img/photo-gallery/vulcano.jpg   1x,
                    ./img/photo-gallery/vulcano@2x.jpg   2">
                    <img src="../img/photo-gallery/vulcano.jpg" alt="vulcano">
                </picture>
            </li>
            <li>
                <picture>
                    <source
                    srcset="
                            ./img/photo-gallery/mountains.jpg   1x,
                            ./img/photo-gallery/mountains@2x.jpg   2x">
                    <img src="../img/photo-gallery/mountains.jpg" alt="mountains">
                </picture>
            </li>
            <li>
                <picture>
                    <source
                    srcset="
                            ./img/photo-gallery/men.jpg   1x,
                            ./img/photo-gallery/men@2x.jpg   2x">
                    <img src="../img/photo-gallery/men.jpg" alt="men">
                </picture>
            </li>
            <li>
                <picture>
                    <source
                    srcset="
                            ./img/photo-gallery/fog.jpg   1x,
                            ./img/photo-gallery/fog@2x.jpg   2x">
                    <img src="../img/photo-gallery/fog.jpg" alt="fog">
                </picture>
            </li>
            

        </ul>
    </div>
</section>