<section class="photo-gallery" id="photo-gallery">
    <div class="container">
        <h3 class="title photo-gallery">Photo Gallery</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dapibus mauris in lectus tempus, eget tincidunt.</p>
        <ul class="list photo-gallery">
            <li>
                <picture>
                    <source
                    srcset="
                    ./img/photo-gallery/women.png   1x,
                    ./img/photo-gallery/women@2x.png   2x">
                    <img src="../img/photo-gallery/women.png" alt="women">
                </picture>
            </li>
            <li>
                <picture>
                    <source
                    srcset="
                    ./img/photo-gallery/coast.png   1x,
                    ./img/photo-gallery/coast@2x.png   2x">
                    <img src="../img/photo-gallery/coast.png" alt="coast">
                </picture>
            </li>
            <li>
                <picture>
                    <source
                    srcset="
                    ./img/photo-gallery/vulcano.png   1x,
                    ./img/photo-gallery/vulcano@2x.png   2x">
                    <img src="../img/photo-gallery/vulcano.png" alt="vulcano">
                </picture>
            </li>
            <li>
                <picture>
                    <source
                    srcset="
                    ./img/photo-gallery/mountains.png   1x,
                    ./img/photo-gallery/mountains@2x.png   2x">
                    <img src="../img/photo-gallery/mountains.png" alt="mountains">
                </picture>
            </li>
            <li>
                <picture>
                    <source
                    srcset="
                    ./img/photo-gallery/men.png   1x,
                    ./img/photo-gallery/men@2x.png   2x">
                    <img src="../img/photo-gallery/men.png" alt="men">
                </picture>
            </li>
            <li>
                <picture>
                    <source
                    srcset="
                    ./img/photo-gallery/fog.png   1x,
                    ./img/photo-gallery/fog@2x.png   2x">
                    <img src="../img/photo-gallery/fog.png" alt="fog">
                </picture>
            </li>
            

        </ul>
    </div>
</section>