<section class="video" id="video">
    <div class="container">
        <h3 class="title video"></h3>
        <div><p>some video</p></div>
        <div>
            <div>
                <p>video</p>
                <p>In The Country</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dapibus mauris in lectus tempus.</p>
            </div>
            <div>
                <p>video</p>
                <p>In The City</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dapibus mauris in lectus tempus.</p>
            </div>
        </div>
    </div>
</section>